@model GameStore.WEB.ViewModels.GameListViewModel

@{
    ViewBag.Title = "Games";
}

<h2>Games</h2>

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Name: </label>
        <input name="name" class="form-control"/>

        <label class="control-label">Genre: </label>
        <select name="genre" asp-items="Model.Genres" class="form-control"></select>

        <input type="submit" value="Submit" class="btn btn-default"/>
    </div>
</form>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Genre</th>
    </tr>

    @foreach (var game in Model.Games)
    {
        <tr>
            <td>@game.Name</td>
            <td>@string.Join(", ", game.Genres.Select(genre => genre.Name))</td>
        </tr>
    }
</table>

    
        